<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Unlock</title>
 
      <link rel="stylesheet" href="style.css">
<link rel="icon" href="icon.png">
  
</head>

<body>

  

  <form method="POST" action="/">
  <div id="login" class="login">
    <div class="p1">
      <div class="username-row">
        <input type="text"  name="id" placeholder="Username"></input>
      </div>
    </div>
    <div class="p2">
      <button id="login-button" type="submit">Let's Go</button>
      
    </div>
  </div>
</form>
<div id="error" align="center"><%= dis%></div>




</body>

</html>
