<html>

<head>
    <title>
        BCNet
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link rel="icon" href="icon.png">

    <link rel="stylesheet" href="style1.css">
</head>

<body onload="startTime()">
    <div id="top">

        <div id="top_left">

            <img src="logo.png" height="150px">
            <span id="lo">BlockCHain</span>
        </div>
        <div id="top_right">
            <h3>Welcome
                <%=unm%>
            </h3>
            <h3>Users online:
                <span id="count"></span>
            </h3>
            <span id="time"></span>&nbsp;
            <span id="date"></span>
        </div>


    </div>
    <hr>
    <div id="main">

        <div id="left">

            <label>
                <strong>Chain last updated at:</strong>
            </label>
            <span id="timest"></span>
            <br>
            <br>
            <br>
            <label>
                <strong>Latest block:&nbsp;</strong>
            </label><br><br>
            <textarea readonly rows="5" cols="55" id="ltb"></textarea>
            



            <form method="POST" action="/main">
                <label>
                    <strong>Add your data to the blockchain:</strong>
                </label>
                <br>
                <br>
                <div id="fm">
                    <textarea id="abc" name="ab" rows="5" cols="40"></textarea>
                    <br>
                    <br>
                    <div id="fm1">
                        <button id="blo" type="submit">Submit</button>
                    </div>
                </div>

            </form>

        </div>
        <div id="right">
            <textarea readonly rows="35" cols="65" id="info"></textarea>
         </div>
    </div>

    <script>
        document.getElementById('date').innerHTML = new Date().toLocaleDateString('en-GB');
          
          var socket;
        (function () {



            socket = io.connect('http://10.10.1.71:7900');


            socket.on('users_connected', (data) => {

                document.getElementById("count").innerHTML = data.uc;
            })
            socket.on('users_disconnected', (data) => {
                document.getElementById("count").innerHTML = data.uc;
            })

            socket.on('block', (data) => {
                
                  
                document.getElementById("timest").innerHTML=data.timst;
                    document.getElementById("info").value=data.block;
               document.getElementById("ltb").value=data.ltbt;  

            })
            socket.on('block_added', (data) => {
                

               var ftext= document.getElementById("info")
                   
                    document.getElementById("timest").innerHTML=data.tims;

                    document.getElementById("info").value=ftext+data.block ;
                    console.log(data.ltb)
                    document.getElementById("ltb").value=data.ltb;

            })
           
           
        })();
       
       
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('time').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };
            return i;
        }









    </script>
    <script src="F:/Internship/project_final/models/block.js"></script>
    <script src="F:/Internship/project_final/models/blockchain.js"></script>
</body>

</html>