*, *:before, *:after {
  box-sizing: border-box;
}

body{
  background-image: url("a1.jpg");
  background-size: cover;
}




.login {
  max-width: 280px;
  min-height: 150px;
  margin: 30px auto;
  background-color: rgba(10,10,10,.68);
}



.p1 {
  padding: 35px 20px 20px;
  height: 120px;
  width: 100%;
  
}

.username-row {
  position: relative;
  height: 40px;
  
  
  border-bottom: 1px solid;
  margin-bottom: 10px;
}









input {
  position: absolute;
  width: 195px;
  font-size: 20pt;
  height: 30px;
  
  margin: 5px 0;
  background: transparent;
  border: none;
  color: azure;
}

input:focus,
button:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: rgba(255,255,255,.4);
  
}



.p2 {
  margin: 22px 0;
  height: 50px;
  width: 100%;
  
}

button {
  display: block;
  width: 150px;
  height: 40px;
  padding: 0;
  margin: 10px 40px 10px 60px;
  font-weight: 700;
  color: #fff;
  font-size: 12pt;
  background-color: #5f9ea0;
  border: none;
  border-radius: 20px;
}

button:hover {
  background-color: #26d69a;
}

button:active {
  background-color: #1eaa7a;
}

#error
{
  text-align: center;
  color: crimson;
  font-size: 19pt;
}





