body{
    background-image: url("back.jpg");
    background-size: cover;
  }

  @font-face {
    font-family: logo;
    src: url(SanitariumBB.otf);
}
#lo
{
    font-family: logo;
    font-size: 65pt;
    
}

  #top
  {
      width:100%;
      height: 140px;
      display: flex;
  }
  #main
  {
      width:100%;
      height: 100%;
      display: flex;
  }
  #right
  {
      width:50%;
      height: 100%;
      float: right;
      border-left: double;
    
  }
  #left
  {
      width:50%;
      height:100%;
  }
  
  #top_left
  {
      width:60%;
  }
  #top_right
  {
      width:40%;
     text-align: right;
  }
  

  img{
      float: left;
  }
  hr{
    border: 0;
    height: 55px;
    background-image: url(hr.png);
    background-repeat: no-repeat;
    margin-left: 265px;
  }
  textarea
  {
      resize: none;
  }
 

  #info
  {
      background-color: darkgray;
      margin-left: 70px;
      margin-top: 30px;
      border: none;
      outline: none;
      color: black;
  }
  #timest{
      font-weight: bold;
     
  }

  #ltb
  {
    background-color: darkgray;
    border: none;
    outline: none;
    color: black;
  }
  #bl
  {
      background-color: darkgray;
     padding: 5px;
      font-size: 10pt;
      width:50px;
  }
  label{
      font-size: 15pt;
      
  }
  form{
      margin-top: 25px;
  }

  #fm
  {
      width:310px;
  }
  #fm1{
      text-align: end;
  }
 